@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}
.container {
    background: rgb(39, 41, 39);
}
.header-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 40px;
    padding: 20px 10px;
}

.logo {
    margin-left: 3%;
    grid-column: 1/2;
}
.navbar {
    margin: 1.5em 0 0 1%;
    grid-column: 3/4;
}
header ul li {
    display: inline-block;
    padding: 0 1.6em 0 0;
    font-size: 1.1em;
}
header ul li a, .logo a {
    text-decoration: none;
    color: #ffffff;
}
#about {
    text-align: center;
}
#about h1,
#myskills h1,
#myprojects h1,
#contact h1 {
    margin: 15px;
    padding: 15px;
    font-size: 3.1em;
    text-align: center;
    border-bottom: 3px solid #ccc medium;
}
#about p {
    margin: 10px 400px;
    font-size: 1.3em;
}
#myskills {
    text-align: center;
    margin: 40px 10px;
}
.skill {
    display: inline-block;
    background: #ccc;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.skill img {
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 8%;
}
#myprojects {

}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 10px;
}

#contact {
    width: 400px;
    height: 500px;
    text-align: center;
    background: #ffffff;
    color: #777;
    border-radius: 3px;
    margin: 0 auto;
}
.form {
    padding: 10px;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#name, #email {
    width: 300px;
    margin: 0 auto;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: 3px;
}
#message {
    width: 300px;
    height: 80px;
    margin: 0 auto;
    padding: 10px 5px;
    display: block;
    margin-bottom: 10px;
    border-radius: 3px;
}
#button {
    padding: 5px 20px;
    width: 100%;
    border-radius: 3px;
    font-size: 1.6em;
    cursor: pointer;
    border: none;
}
button:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
}
.socialmedia {
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.socialmedia img {
    padding: 10px;
    width: 30px;
    height: 30px;
}
.content {
    color: #ffffff;
}

.mainfooter {
   text-align: center;
   padding: 10px;
}
.mainfooter p {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
}
