*{
    margin: 0;
    padding: 0;
}
.container {
    background: #161616;
    color: white;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.header-container {
    display: grid;
    grid-template-columns: 25% 35%;
    grid-gap: 40%;
    margin-bottom: 40px;
    padding: 20px 10px;
}
.logo {
    margin-left: 3%;
}
.navbar {
    margin: 1.5em 0 0 1%;
}
header ul li {
    display: inline-block;
    padding: 0 1.6em 0 0;
    font-size: 1.1em;
}
header ul li a, .logo a {
    text-decoration: none;
    color: #ffffff;
}
#about {
    text-align: center;
}
#about h1,
#myskills h1,
#myprojects h1,
#contact h1 {
    margin: 15px;
    padding: 15px;
    font-size: 3.1em;
    text-align: center;
    border-bottom: 3px solid #ccc medium;
}
#about p {
    margin: 10px 400px;
    font-size: 1.3em;
}
#myskills {
    text-align: center;
    margin: 40px 10px;
}
#myprojects {
    margin: 40px 10px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    grid-template-areas: 
        "a b" 
        "c d";
    align-items: start;
    margin: 20px 20%;
    padding: 10px;
}
.project1 {
    grid-area: a;
    text-align: center;

}
.project2 {
    grid-area: b;
    text-align: center;
}
.project3 {
    grid-area: c;
    text-align: center;
}
.project4 {
    grid-area: d;
    text-align: center;
}
#contact {
    text-align: center;
}
.form {
    margin: 20x;
    padding: 10px;
}
#name, #email {
    width: 300px;
    margin: 0 auto;
    padding: 10px 5px;
    display: block;
    margin-bottom: 10px;
    border-radius: 3px;
}
#message {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    padding: 10px 5px;
    display: block;
    margin-bottom: 10px;
    border-radius: 3px;
}
#button {
    padding: 5px;
    width: 150px;
    border-radius: 3px;
    font-size: 1.6em;
}
.content {
    
}
.skill img {
    border-radius: 50%;
}
.mainfooter {
   text-align: center
}
